.mb-10{
    margin-bottom: 10px !important;
}

body *{
    font-family: IRANSansWeb;
}
#comments .form-control {
    border-radius: 3px;
}
.post-comments input{
    margin: 10px 0;
}
a.subscribe {
    padding: 6px 0;
}

